<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title></title>
    <link rel="stylesheet" href="../public/css/">
</head>
<body>
    <div id="body-containner">
        <%- include('./reusable/reload.ejs') %>
        <div id="containner">
            <%- include('./reusable/header.ejs',{banda:user.banda, index:null,perfil:{nome:user.displayName,profileImg:user.profilePic == null ? "../public/img/logo_icon.png" : user.profilePic} }) %>
            <main id="main-containner">
                
            </main>
        </div>
    </div>
    <%- include('./reusable/script.ejs') %>
    <script src="../public/js/"></script>
</body>
</html>