<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SounifyMe</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div id="body-containner">
        <%- include('./reusable/reload.ejs') %>

        <div id="containner">
            <%- include('./reusable/header.ejs',{banda:user.banda, index:0,perfil:{nome:user.displayName,profileImg:user.profilePic == null ? "../public/img/logo_icon.png" : user.profilePic} }) %>
            <main id="main-containner" >
               <div id="main-content">
                a
               </div>
            </main>
        </div>
    </div>
    
    
    <%- include('./reusable/script.ejs') %>
</form>
</body>
</html>