<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SounifyMe</title>
</head>
<body>
    <%- include('./reusable/header.ejs',{banda:true, index:0,perfil:{nome:'TEst123',profileImg:'../public/img/exempleImg.jpg'} }) %>
    <%- include('./reusable/script.ejs') %>
</form>
</body>
</html>