<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./reusable/head.ejs') %>
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login - SounifyMe</title>
</head>
<body>
    
</body>
</html>