
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: black;
} 

*::-webkit-scrollbar-thumb {   
    background-color: rgb(60, 60, 60); 
    border-radius: 50px;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: rgb(104, 104, 104);
}

:root{
    --primary-color: #000000;
    --secundary-color: #2F2F2F;
    --main-color-transparent: rgba(40, 40, 40, 70%);
    --main-color-puple: #915CDF;
    --secundary-color-puple: #AB94E9;
    --purpple-strong-color:#7824D5;
    --purpple-low-color:#C5CDF4;
    --text-gray-color-primary: #EAEAEA;
    --text-gray-color-secundary: #B8B8B8;
    --color-text-primary: #fff;
    --border-color: rgba(113, 113, 113, 50%);
    --color-fill: #dddddd;
} 

[data-theme="light"]{

}

path{
    fill: var(--color-fill);
}

body{
    background-color: var(--main-background);
}

#containner{
    display: none;
    transition: 1s;
    width: 100%;
}

body,html{
    width: 100%;
    overflow-x: hidden;
}

img,br,a{
    user-select: none;
}

img{
    -webkit-user-drag: none;
}

a{
    text-decoration: none;
    color: var(--text-gray-color-primary);
}
